* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.error.active {
  margin-right: 10px;
  padding: 2px 10px 0 10px;
  display: inline-block;
  color: red;
  font-size: .8rem;
  width: 200px;
}

.input-item {
  display: grid;
  grid-template-columns: 150px 1fr 200px;
  margin: 10px 0;
  align-items: flex-start;
  font-size: 1rem;
}

label {
  text-align: right;
  margin-top: 3px;
}

select {
  appearance: none;
}


input,
select {
  font: inherit;
  margin: 0 10px;
  padding: 5px;
  height: 35px;
  border: 1px solid black;
  border-radius: 2px;
}

#zip-code {
  width: 100px;
  text-align: center;
}